<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div class="text-center">
    <form th:action="@{/login}" method="post" class="form-signin">
<!--        <img class="mb-4" src="/image/octo-logo.png" alt="" width="72" height="72">-->
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="USERNAME"  required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a class="mt-5 mb-3 text-muted" href="/registration">Authorization</a>
        <p class="mt-5 mb-3 text-muted">©Octo 2017-2020</p>
    </form>

    <style >
        .form-signin{
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        }

        .form-control{
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }


    </style>
</div>
</body>
</html>
